
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.base-window-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../media/svg/background.svg');
    background-position: center;

}

.welcome-page-container {
    width: 100%; /* Ширина контейнера */
    height: 100vh; /* Высота контейнера (на всю высоту окна) */
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center;
}

.welcomeWindowTopText {
    position: absolute;
    margin: auto;
    top: 14vw;
    width: 30vw;
}

.welcomeWindowBottomText {
    position: absolute;
    margin: auto;
    top: 22vw;
    width: 50vw;
}

.welcome-page-container>a{
    position: absolute;
    top: 28vw;
    margin: auto;
}

.getLogButton {
	width: 19vw;
    transition: color, transform 500ms ease;
}   

.getLogButton:hover {
    transform: scale(1.05);
}

.auth-form-container {
    display: flex;

}

.auth-form-container {
    width: 100%; /* Ширина контейнера */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.authorizationFrom {
    position: absolute;
    margin: auto;
    width: 34vw;
    top: 5.5vw;
}

.authorizationButton {
    position: absolute;
    margin: auto;
	width: 27vw;
    top: 26.5vw;
    transition: transform 500ms ease;
}   

.authorizationFrom-input-login {
    position: absolute;
    top: 20.1vw;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    width: 12vw;
}

.authorizationFrom-input-password {
    position: absolute;
    top: 26vw;
    left: 46vw;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    width: 12vw;
}

.authorizationButton:hover {
    transform: scale(1.05);
}

.left-bar {
    position: static;
    flex: 1;
    border-style: solid;
    bottom: 0px;
    top: 0px;
    /* border-right-width: 1px;  */
    background: rgba(9, 9, 9, 0.12);
    /* opacity: 0.2; */
}

.chat-topics-bar-list {
    position: relative;
    width: 86%;
    margin: auto;
    margin-top: 6vw;
    background-size: cover;    
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}

/* Общие стили для полосы прокрутки */
.chat-topics-bar-list::-webkit-scrollbar {
    width: 6px; /* Ширина полосы прокрутки */
}

/* Стили для фона полосы прокрутки */
.chat-topics-bar-list::-webkit-scrollbar-track {
    background-color: rgba(203, 203, 203, 0); /* Цвет фона полосы прокрутки */ 
}

/* Стили для "бегунка" (ползунка) полосы прокрутки */
.chat-topics-bar-list::-webkit-scrollbar-thumb {
    background-color: #4b4b4b; /* Цвет ползунка */
    border-radius: 12px; /* Скругление углов ползунка */
}

/* При наведении на полосу прокрутки */
.chat-topics-bar-list::-webkit-scrollbar-thumb:hover {
    background-color: #848484; /* Измененный цвет ползунка при наведении */
}

.chat-topics-bar-list>p {
    /* position: absolute;*/
    text-decoration: none; 
    font-size: calc(calc(1vw + 1vh) * 1.1);
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-left: .4vw;
    width: 94%;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;

    /* transition: transform 0.5s ease; */
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    color: black; 
}
.chat-topics-bar-list>p>a {
    text-decoration: none; 
    font-size: 1.4vw;
    text-align: left;;
    color: black;
}

.chat-topics-bar-list>p:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(255, 255, 255, .3), rgba(179, 179, 179, 0.2));
    /* transition-delay: 1s; */
}


.chat-header-logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1vw;
    left: 1vw;
    width: 14vw;
    height: 2.5vw;
    /* background-color: aqua; */
    background-size: cover;
    /* transition: transform 0.5s ease; */
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    color: black; 
}

.chat-header-logo-container:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(255, 255, 255, .3), rgba(179, 179, 179, 0.2));
}

.chat-header-logo {
    position: absolute;
    width: 2.4vw;
    left: 1px;
    margin: auto;
    /* background-size: cover; */
}

.chat-header-logo-text {
    position: relative;
    width: 5vw;
    margin: auto;
    /* margin-left: .8vw; */
    /* background-size: cover; */
}

.chat-header-writeicon {
    position: absolute;
    width: 1vw;
    right: 5px;
    margin: auto;
    background-size: cover;
    transition: transform 150ms ease;
}

.chat-header-writeicon:active {
    transform: scale(1.2);
}

.chat-space {
    position: relative ;
    display: flex;
    flex: 4.9;
    /* width: 80%; */
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.chat-header-edu-chat {
    position: absolute;
    width: 7vw;
    top: 1.4vw;
    left: 2%
    /* background-size: cover; */
}

.chat-header-welcome-text {
    position: absolute;
    top: 35%;
    width: 26vw;
}

.chat-help-blocks-container {
    position: absolute;
    display: flex;
    bottom: 15%;
    width: 60%;
    height: 25%;
    /* grid-row: 2; */
    justify-content: center;
    align-items: center;
}

.chat-help-blocks-container-column {
    /* display: flex; */
    flex: 1;
    width: 50%;
    height: 100%;
    margin: auto;
}

.chat-help-blocks-container-column>p {
    display: flex; /* Добавлено */
    justify-content: center; /* Добавлено */
    align-items: center; /* Добавлено */
    font-size: calc(calc(1vw + 1vh) * .8);
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    width: 80%;
    height: 40%;
    margin-inline: 10%;
    margin-bottom: 10%;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, rgb(255, 255, 255, .3), rgba(145, 145, 145, 0.2));
}

.chat-help-blocks-container-column>p:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(255, 255, 255, .3), rgba(179, 179, 179, 0.2));
}

.message-chat-ai-container {
    position: absolute;
    display: inline;
    width: 100%;
    bottom: 15%;
    overflow-y: auto;
    max-height: 600px;
}

/* Общие стили для полосы прокрутки */
.message-chat-ai-container::-webkit-scrollbar {
    width: 6px; /* Ширина полосы прокрутки */
}

/* Стили для фона полосы прокрутки */
.message-chat-ai-container::-webkit-scrollbar-track {
    background-color: rgba(203, 203, 203, 0); /* Цвет фона полосы прокрутки */ 
}

/* Стили для "бегунка" (ползунка) полосы прокрутки */
.message-chat-ai-container::-webkit-scrollbar-thumb {
    background-color: #4b4b4b; /* Цвет ползунка */
    border-radius: 12px; /* Скругление углов ползунка */
}

/* При наведении на полосу прокрутки */
.message-chat-ai-container::-webkit-scrollbar-thumb:hover {
    background-color: #848484; /* Измененный цвет ползунка при наведении */
}

.message-chat-ai-container>pre {
    position: relative;
    /* display: inline; */
    width: 60%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20%;
    text-align: left;
    font-size: 16px;
    white-space: pre-wrap; /* Сохраняем переносы строк */
    overflow-wrap: break-word;
}

.message-chat-ai-container>p {
    position: relative;
    /* display: inline; */
    font-weight: 700;
    width: 60%;
    padding-left: 20%;
    text-align: left;
    font-size: 16px;
}

.input-chat-ai-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    border-style: solid;
    border-radius: 16px;
    border-width: .5px;
    width: 65%;
    min-height: 50px;
    /* max-height: 400px; */
    background-color: white;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.input-chat-ai-text {
    position: absolute;
    bottom: 16px;
    left: 4%;
    width: 85%;
    max-width: 100%;
    height: 20px;
    min-height: 20px;
    resize: none;
    border: none;
    box-sizing: border-box; /* учитывать границы и отступы внутри textarea */
    background-color: rgb(0, 0, 0, 0);
}

.input-chat-ai-icon {
    position: absolute;
    margin: auto;
    right: 1vw;
    width: 26px;
    /* box-sizing: border-box; */
    transition: transform 150ms ease;
}

.input-chat-ai-icon:active {
    transform: scale(1.2);
}
