<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="static/style/reset.css">
    <link rel="stylesheet" href="static/style/main.css">
    <link rel="stylesheet" href="static/style/index.css">
</head>
<body id="body">
    <main class="base-window-container">

        <div class="welcome-page-container">
            <img class="welcomeWindowTopText" src="static/media/svg/welcomePage/top_text.svg" alt="welcome image">
            <img class="welcomeWindowBottomText" src="static/media/svg/welcomePage/bottom_text.svg" alt="welcome image">

            <div id="loginButton" class="login-button-container" >
                <span>Log in to get started</span>
                <img src="static/media/svg/welcomePage/icon-input.svg" alt="icon input">
            </div>
        </div>
    </main>
</body>
<script type="module" src="static/script/modules/config.js"></script>
<script type="module" src="static/script/index.js"></script>
</html>