<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/reset.css">
    <link rel="stylesheet" href="static/style/main.css">
    <link rel="stylesheet" href="static/style/login.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

    <title>login</title>
</head>
<body>
    <div class="base-window-container">
        <!-- <img class="background" src="media/svg/background.svg" alt="welcome image"> -->
        
        <div class="auth-form-container">
            <h4 class="auth-form-login-here">Login Here</h4>
            <div class="input-email-container">
                <span>Email: </span>
                <input id="input-login" class="authorizationFrom-input-login" type="text">
                <img src="static/media/svg/authorization/icon-mail.svg" alt="icon mail">
            </div>
            <div class="input-password-container">
                <span>Password: </span>
                <input id="input-password" class="authorizationFrom-input-password" type="text">
                <img src="static/media/svg/authorization/icon-password.svg" alt="icon mail">
            </div>
            <div class="forgor-password-container">
                <span>Forgot password</span>
            </div>
            <div id="loginButton" class="login-button-container">
                <span>Log in</span>
            </div>
            <div class="dont-have-acc-container">
                <span>Don’t have an account? <span>Register</span></span>
            </div>
        </div>
    </div>  
    <script src="static/script/login.js"></script>
</body>
</html>